---
import footerSocialData from '../data/footerSocialData';
import footerData from '../data/footerData';
---

<footer class="bg-white dark:bg-gray-900 mt-8 border-t">
	<!-- <div class="grid grid-cols-2 gap-8 px-6 py-8 md:grid-cols-4 flex"> -->
	<div class="flex flex-col">
		<div class="container mx-auto flex flex-row justify-around mt-4 p-6">
			<div>
				<h2 class="mb-6 text-sm font-semibold text-gray-500 uppercase dark:text-gray-400">Pages</h2>
				<ul class="text-gray-500 dark:text-gray-400">
					{
						footerData.map((link) => (
							<li class="mb-4">
								<a class="mr-6 my-2 text-gray-500 hover:underline" href={link.path}>
									{link.name}
								</a>
							</li>
						))
					}
				</ul>
			</div>
			<div>
				<h2 class="mb-6 text-sm font-semibold text-gray-500 uppercase dark:text-gray-400">
					Resources
				</h2>
				<ul class="text-gray-500 dark:text-gray-400">
					<li class="mb-4">
						<a href="/rss.xml" class="hover:underline">RSS</a>
					</li>
					<li class="mb-4">
						<a href="#" class="hover:underline">Sitemap</a>
					</li>
				</ul>
			</div>
			<div>
				<h2 class="mb-6 text-sm font-semibold text-gray-500 uppercase dark:text-gray-400">Legal</h2>
				<ul class="text-gray-500 dark:text-gray-400">
					<li class="mb-4">
						<a href="#" class="hover:underline">Privacy Policy</a>
					</li>
					<li class="mb-4">
						<a href="#" class="hover:underline">Licensing</a>
					</li>
					<li class="mb-4">
						<a href="#" class="hover:underline">Terms &amp; Conditions</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="px-4 py-6 bg-gray-100 dark:bg-gray-700">
			<div class="container md:flex md:items-center md:justify-between mx-auto">
				<span class="text-sm text-gray-500 dark:text-gray-300 sm:text-center"
					>© 2023 <a href="">astroBlog</a>. All Rights Reserved.
				</span>
				<div class="flex mt-4 space-x-6 sm:justify-center md:mt-0">
					{
						footerSocialData.map((link) => (
							<a href={link.path} class="mt-4 sm:ml-8">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path fill="currentColor" d={link.image} />
								</svg>
							</a>
						))
					}
				</div>
			</div>
		</div>
	</div>
</footer>
